#app setup
NEXT_PUBLIC_COMMUNITY_APP=MyCommunity
NEXT_PUBLIC_COMMUNITY_VERSION=1.0.1
# my community setup
NEXT_PUBLIC_COMMUNITY_NAME=Skatehive
NEXT_PUBLIC_HIVE_COMMUNITY_TAG=hive-173115
# threads post parameters
NEXT_PUBLIC_THREAD_AUTHOR=xvlad
NEXT_PUBLIC_THREAD_PERMLINK=nxvsjarvmp
# frontend specs
# available themes -> bluesky, hacker, forest 
NEXT_PUBLIC_THEME=hacker
NEXT_PUBLIC_SITE_TYPE=business
# interval to fetch data from hive api and frontend get new live comments
NEXT_PUBLIC_FETCH_NEW_COMMENTS_INTERVAL=60000
NEXT_PUBLIC_PULL_NEW_COMMENTS_INTERVAL=60000
